.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

.perspective {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.tiltWrapper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  will-change: transform;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 150%;
  object-fit: cover;
  position: absolute;
  top: -10%;
  left: 0;
  will-change: transform;
}

.colorOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0283C0;
  opacity: 0;
  mix-blend-mode: multiply;
  z-index: 1;
  pointer-events: none;
}
